In [2]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

# task-1:- Spell Bee comptition

-- Later,5 more students approched julia to participate in Spell bee compitition.
-- Help Julia add this 5 names in existing list of 15 students one by one.

In [3]:
for i in range(1,6):
    name=input('enter a name:')
    data.append(name)
print('Extended list:',data)

enter a name:sanket
enter a name:mrunal
enter a name:suman
enter a name:vighnesh
enter a name:mayank
Extended list: ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'sanket', 'mrunal', 'suman', 'vighnesh', 'mayank']

### Interpretation:-
    Here we are used append function to add some extra names in data list.
    In the output we get added names in last of the list

-- =====================================================================================================================

# task-2:- Spell Bee cometition (Count.)

-- Julia wants to check the names of the last 5 sudents who singed up later.
-- Help julia to print the names of all students in reverse order.

In [4]:
data.sort(reverse=True)

In [5]:
count=0
for i in data:
    if reversed(data):
        count+=1
        print(i)
    if count==5:
        break

vighnesh
suman
sanket
mrunal
mayank

### Interpretation:-
    -- Here we are first reverse the data using sort functio.
    -- then we use count function to select only the last 5 names

-- =====================================================================================================================

# task-3:-Spell Bee compititon (Count.)

-- Perform task 2 again without using any built in function.

In [6]:
count=20
for i in data:
    if data:
        count-=1
        print(i)
    if count==15:
        break

vighnesh
suman
sanket
mrunal
mayank

### Interpretation:-
    -- In this task we are using only the for loop.
    -- we got the last 5 names using count function.

-- =====================================================================================================================

# task-4:- Spell Bee compitition (Count.)

-- Help julia to check for any duplicate entries in the list of 20 students name.
-- Create a new list named final_list that does not have any name repeated.

In [7]:
data
unique_name = list(set(data))
final_list=[]
for name in unique_name:
    final_list.append(name)
print('final list without duplicate:')
print(final_list)

final list without duplicate:
['Mark Antony', 'Bret Lee', 'Jim Nick', 'Mark Thomas', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'mrunal', 'Matt Antony', 'mayank', 'vighnesh', 'Joe Cook', 'Kenny Peterson', 'Janice Ken', 'Lily Jason', 'Florida Thomson', 'sanket', 'John Chan', 'suman']

### Interpretation:-
    -- In this task we are check for duplicate entries and store the data in new list

-- =====================================================================================================================

# task-5:- spell Bee Competition(contd.)

-- Help julia dispay the names of the students from final_list, in alphabetical order.

In [10]:
final_list.sort()
final_list

['Alexander Thomas',
 'Alexanderia Peterson',
 'Bret Lee',
 'Florida Thomson',
 'Janice Ken',
 'Jim Nick',
 'Joe Cook',
 'John Chan',
 'Katy Perry',
 'Kenny Peterson',
 'Lily Jason',
 'Mark Antony',
 'Mark Thomas',
 'Matt Antony',
 'mayank',
 'mrunal',
 'sanket',
 'suman',
 'vighnesh']

### Interpretation:-
    -- in this task, sort the data alphabetically
    -- we are use sort function for this task

-- =====================================================================================================================

# task-6:- spell Bee Competition(contd.)

In [ ]:
-- The student at 2nd, 12th and last position in final_list got selected in spell bee compitition.
-- Help julia save the names of these students in a differant list and display them seprately.

In [32]:
selected_students = []
positions = [1, 11, 18] 

for pos in positions:
    if pos >= 0 and pos < len(final_list):
        selected_students.append(final_list[pos])

for i, student in enumerate(selected_students):
    print("Name of student at position", positions[i] + 1, ":", student)

Name of student at position 2 : Alexanderia Peterson
Name of student at position 12 : Mark Antony
Name of student at position 19 : vighnesh

-- =====================================================================================================================

# task-7:- spell Bee Competition(contd.)

-- write a program to count the number of intergers between 555 and 678 that are divisible by 7.

In [34]:
count=0
for i in range(556,678):
    if i%7==0:
        count+=1
print(count)

17

-- =====================================================================================================================

# task-8:- spell Bee Competition(contd.)

In [ ]:
-- write a python program that prints the first 30 natural numbers but skips all numbers that are multiple of n.
-- Accept the value of n as an input from the user.

In [40]:
n=int(input('enter the number:'))
count=0
num=1
while count<30:
    if num%n!=0:
        print(num)
        count+=1
    num+=1

enter the number:3
1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44

-- =====================================================================================================================

# Task-9:- spell Bee Competition(contd.)

-- find the sum of corrosponding elements of firstlist and secondlist.
-- store them in a new list named thirdlist and print result.

In [41]:
firstlist=[1,21,3,4,5,6,7,18,4]
secondlist=[19,1,17,6,15,14,13,2,11]

In [42]:
thirdlist=[]

for i in range(len(firstlist)):
    sum= firstlist[i]+secondlist[i]
    thirdlist.append(sum)
print(thirdlist)

[20, 22, 20, 10, 20, 20, 20, 20, 15]

-- =====================================================================================================================